[Unit]
Description=job-scraper
After=syslog.target network.target

[Service]
User=aaron
Group=aaron

Environment="JAVA_HOME=/usr/bin/java"

ExecStart=/usr/bin/java -jar /home/aaron/scraper-frontend-0.0.1.jar
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target