#content {
    max-width: 900px;
    margin: auto;
}

.job {
    margin-top: 20px;
    margin-bottom: 100px;
}

.job-title {
    font-weight: bold;
}

.job-status {
    font-weight: bolder;
    font-size: 1.4rem;
    color: green;
}

.company {
    font-weight: bolder;
}

.description {
    margin-top: 40px;
}

.status-updater {
    margin-top: 20px;
    margin-bottom: 20px;
}

.status-updater > div {
    display: inline;
    text-decoration: underline;
    color: blue;
    margin-right: 10px;
    user-select: none;
}

.status-updater > div:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.status-filters > label {
    margin-left: 30px;
}

.status-filters > label, .status-filters > input {
    user-select: none;
}

.status-filters > label:hover, .status-filters > input:hover {
    user-select: none;
    cursor: pointer;
}

.input {
    margin-bottom: 10px;
}

.highlight {
    background-color: aqua;
}

.company-status {
    font-weight: bolder;
    font-size: 1.2rem;
    color: royalblue;
    background-color: lavender;
    margin: 10px 10px;
}
