<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Jobs</title>
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
<div id="content">
	<a href="/" class="menu-href">Home</a>
	<a href="/add-job" class="menu-href">Add Job</a>
	<div>
		<form action="#" th:action="@{/add-job}" th:object="${jobUrl}" method="post">
			<fieldset>
				<legend>Page Url</legend>
				<div>
					<div class="errors" th:if="${#fields.hasErrors('global')}">
						<div th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</div>
					</div>
					<div class="input">
						<label for="jobUrl">URL</label>
						<input type="text" name="jobUrl" id="jobUrl" th:field="*{value}"/>
					</div>
					<input type="submit" value="Scrape">
				</div>
			</fieldset>
		</form>
	</div>
	<div th:if="${job != null}" th:object="${job}">
		<div class="job">
			<a class="job-title" th:href="${job.url}" th:text="${job.title}" target="_blank"></a>
			<div class="company">
				<span th:text="${job.company + ' - ' + job.subtitle}"/>
			</div>
			<span class="company-status" th:each="status:${job.companyStatuses}" th:text="${status}"/>
			<div class="description" th:utext="${job.description}"></div>
			<hr>
		</div>
	</div>
</div>
</body>
</html>
