<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Titles</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
    </style>
</head>

<body>
<div class="container">
    <nav>
        <a th:href="@{/}">home</a> -
        <a th:href="@{/titles}">titles</a> -
        <a th:href="@{/notes}">notes</a> -
        <a th:href="@{/sites}">sites</a>
        <hr>
    </nav>
    <section>
        <h1>Notes</h1>
        <h2>Interesting Projects</h2>
        <ul>
            <li>Shopify application</li>
            <li>Testing framework</li>
            <li>Auto shop accounting application → thrown over the fence</li>
            <li>Warehouse management software for Albert</li>
            <li>Application for auto purchasing EC2 instances</li>
        </ul>

        <h2>Qualities</h2>
        <ul>
            <li>Ability to work across the stack</li>
            <li>Architecture, development, dev-ops, frontend, data design</li>
            <li>Hard-working and self-reliant</li>
            <li>Ability to work across the business with different organizations and teams</li>
            <li>Have dealt with all sorts of people, an able to hang with business, finance, product, quality,
                operations, customer support, implementations
            </li>
            <li>Pretty good at learning the domain</li>
            <li>I really dig into the business, since in freelance, you have to pick up the domain quickly</li>
            <li>Adept at dealing with customers</li>
            <li>I do well with the customers, give them a feeling of confidence</li>
            <li>I care about what I work on, about quality and about the details</li>
            <li>It bothers me to just throw stuff in prod haphazardly</li>
        </ul>
        <h2>Why leave?</h2>
        <ul>
            <li>Adversarial environment, very top down</li>
            <li>European devs rubber stamped, team USA struggles</li>
            <li>Working a whole whole lot of overtime</li>
            <li>Cultural differences, while alright, not for me</li>
        </ul>
        <h2>Questions</h2>
        <ul>
            <li>How much funding?</li>
            <li>Flexibility? PTO? Location and core hours?</li>
            <li>Is it pretty stable?</li>
            <li>Interesting problems?</li>
            <li>What is culture like?</li>
            <li>Where are devs and teams located?</li>
            <li>Composition of the teams?</li>
            <li>Macbooks 32gb ram?</li>
            <li>Is this the type of job that people retire from, stay long term?</li>
            <li>Who and how are engineering practices decided?</li>
            <li>Is there a uniform code style?</li>
            <li>Is codebase more functional or OO?</li>
            <li>What is the hierarchy, or how are decisions made, and how are arguments resolved?</li>
            <li>Code review and release process?</li>
            <li>Who and how are features designed and is there thorough code reviews?</li>
            <li>Which iteration of the codebase are you on, what is the history?</li>
        </ul>
    </section>
</div>
</body>

</html>
