<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Titles</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
    </style>
</head>

<body>
<div class="container">
    <nav>
        <a th:href="@{/}">home</a> -
        <a th:href="@{/titles}">titles</a> -
        <a th:href="@{/notes}">notes</a> -
        <a th:href="@{/sites}">sites</a>
        <hr>
    </nav>
    <section>
        <h1>Sites</h1>
        <h2>Manual</h2>
        <ul>
            <li>https://wellfound.com/jobs</li>
            <li>https://www.flexjobs.com/remote-jobs/web-software-development-programming?categories_unpacked=true</li>
        </ul>
        <h2>Needs Scraper</h2>
        <ul>
            <li>https://www.themuse.com/</li>
        </ul>
        <h2>Other</h2>
        <ul>
            <li>https://startup.jobs/?c=Full-Time&remote=true&q=Software+Engineer</li>
            <li>https://www.builtinseattle.com/</li>
            <li>https://www.ziprecruiter.com/</li>
            <li>https://www.careerbuilder.com/</li>
            <li>https://www.dice.com/</li>
            <li>https://www.trueup.io/</li>
            <li>https://remoteok.com/remote-engineer-jobs</li>
            <li>https://dynamitejobs.com</li>
        </ul>
    </section>
</div>
</body>

</html>
