<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Titles</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        #content {
            font-size: 1em;
        }

        .status-updater {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .jobs-found {
            margin-top: 0em;
            margin-bottom: 0em;
        }

        .job-title {
            font-weight: normal;
        }
    </style>
</head>

<body>
<div id="content">
    <ul style="display:inline;">
        <li><a th:href="@{/}">home</a></li>
        <li><a th:href="@{/titles}">titles</a></li>
    </ul>
    <br>
    <div class="jobs-found" th:text="${'Jobs Found: ' + jobs.size()}"></div>
    <br>
    <div th:each="job:${jobs}">
        <div class="job-title-listing">
            <div class="status-updater">
                <div th:if="${job.status != 'declined'}" class="status-link" th:data-id="${job.id}"
                     th:data-status="declined"> declined
                </div>
                <div th:if="${job.status != 'interested'}" class="status-link" th:data-id="${job.id}"
                     th:data-status="interested"> interested
                </div>
                <a class="job-title" th:href="${job.url}" th:text="${job.title}" target="_blank"></a>
                <span th:text="${job.getSubtitle()}"></span>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function decreaseJobsFound(jobsFoundText) {
        let string = jobsFoundText.substring(11);
        return "Jobs Found: " + (parseInt(string) - 1)
    }

    let links = document.getElementsByClassName("status-link")
    for (let i in links) {
        let link = links[i]
        let id = link?.dataset?.id
        let status = link?.dataset?.status

        if (id === undefined || status === undefined)
            continue

        link.addEventListener("click", () => {
            fetch("/status/" + id + "/" + status, {method: "POST"})
                .then(response => {
                    if (response.status === 200) {
                        link.closest(".job-title-listing").remove()
                        let jobsFoundDiv = document.getElementsByClassName("jobs-found").item(0)
                        jobsFoundDiv.innerText = decreaseJobsFound(jobsFoundDiv.innerText)
                    }
                })
        })
    }
</script>
</html>
