<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Titles</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
    </style>
</head>

<body>
<div class="container">
    <nav>
        <a th:href="@{/}">home</a> -
        <a th:href="@{/titles}">titles</a> -
        <a th:href="@{/notes}">notes</a>
        <hr>
    </nav>
    <div class="filter">
        <fieldset>
            <legend>Filters</legend>
            <form action="#" th:action="@{/titles}" th:object="${filter}" method="post">
                <div>
                    <div class="filter__form-input">
                        <label for="titleSearch">Title Search</label>
                        <input type="text" name="titleSearch" id="titleSearch" th:value="*{titleSearch}"/>
                    </div>
                    <input type="submit" value="Search">
                </div>
            </form>
        </fieldset>
    </div>

    <div class="jobs-found">
        Jobs Found: <span id="counter" th:text="${jobs.size()}"></span>
    </div>

    <div th:each="job:${jobs}">
        <div th:id="${'job-' + job.id}">

            <div class="title__link-action">
                <button class="button-link" type="submit" name="declined" value="declined" th:data-id="${job.id}"
                        data-status="declined" onclick="removeTitle(event)">declined
                </button>
            </div>
            <div class="title__link-action">
                <button class="button-link" type="submit" name="interested" value="interested" th:data-id="${job.id}"
                        data-status="interested" onclick="removeTitle(event)">interested
                </button>
            </div>

            <a th:href="${job.url}" th:text="${job.title}" target="_blank"></a>
            <span th:text="${job.getSubtitle()}"></span>
        </div>
    </div>
</div>
</body>
<script>

    function decreaseCounter() {
        let counter = document.getElementById('counter')
        let count = counter.innerHTML
        count = parseInt(count)
        count = count - 1
        counter.innerHTML = count
    }

    function removeTitle(e) {
        e.preventDefault()
        let status = e.target.dataset.status
        let id = parseInt(e.target.dataset.id)

        fetch('/status/' + id + '/' + status, {
            method: 'POST'
        }).then((response) => {
            if (response.ok) {
                decreaseCounter()
                document.querySelector('#job-' + id).remove()
            }
        })
    }
</script>
</html>
