* {
    --bs-border-color: #9f9f9f;
}

.job__description{
    font-family: serif !important;
    font-size: 16px;
    line-height: 1.3rem;
    color: black;
}
.container-fixed {
    max-width: 900px;
    margin: auto;
}

.job__status-new {
    color: yellow !important;
    background-color: green !important;
}

.job__status-declined {
    color: yellow !important;
    background-color: orange !important;
}

.job__status-interested {
    color: #d1baff !important;
    background-color: #5914ec !important;
}

.job__status-later {
    color: #98eeec !important;
    background-color: grey !important;
}

.job__status-applied {
    color: yellow !important;
    background-color: blue !important;
}

.job__status-interviewing {
    color: yellow !important;
    background-color: magenta !important;
}

.job__status-rejected {
    color: yellow !important;
    background-color: red !important;
}

.highlight {
    background-color: aqua !important;
}

.company-status {
    font-weight: bolder;
    color: royalblue;
    background-color: lavender;
}
