[Unit]
Description=The job scraper project
After=syslog.target network.target

[Service]
User=ubuntu
Group=ubuntu

Environment="JAVA_HOME=/usr/bin/java"
Environment="DATABASE_USERNAME=aaron"
Environment="DATABASE_PASSWORD=8N$qK8W3&q^a!bVwLfxz9fLMbWPjNJzX5"

ExecStart=/usr/bin/java -jar /home/ubuntu/job-scraper/webapp-0.0.1.jar
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target