<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<div class="container" style="max-width: 960px">
    <div class="pt-2 pb-0 mb-4">
        <nav>
            <a th:href="@{/}">home</a> -
            <a th:href="@{/titles}">titles</a> -
            <a th:href="@{/notes}">notes</a> -
            <a th:href="@{/sites}">sites</a>
        </nav>
        <hr>
    </div>

    <div class="mb-2">
        <span class="jobs-found" th:text="${jobs.size()}"></span>
        <span style="font-weight: bold" th:text="${' ' + mainFilter.getStatus() }"></span>
        <span th:text="${' jobs found from '}"></span>
        <span style="font-weight: bold" th:text="${mainFilter.getJobSite()}"></span>

    </div>

    <fieldset>
        <legend>Filters</legend>
        <div>
            <div class="mb-3">
                <a th:href="@{/filter/status/new}">new</a> -
                <a th:href="@{/filter/status/declined}">declined</a> -
                <a th:href="@{/filter/status/interested}">interested</a> -
                <a th:href="@{/filter/status/later}">later</a> -
                <a th:href="@{/filter/status/applied}">applied</a> -
                <a th:href="@{/filter/status/interviewing}">interviewing</a> -
                <a th:href="@{/filter/status/rejected}">rejected</a>
            </div>

            <div class="mb-3">
                <a th:href="@{'/filter/job-site/all'}">All</a> -
                <a th:href="@{'/filter/job-site/indeed'}">Indeed</a> -
                <a th:href="@{'/filter/job-site/skip_the_drive'}">Skip The Drive</a> -
                <a th:href="@{'/filter/job-site/working_nomads'}">Working Nomads</a> -
                <a th:href="@{'/filter/job-site/wellfound'}">Wellfound</a> -
                <a th:href="@{'/filter/job-site/remote_co'}">Remote.co</a> -
                <a th:href="@{'/filter/job-site/remotive'}">Remotive</a> -
                <a th:href="@{'/filter/job-site/remote_ok'}">RemoteOk</a> -
                <a th:href="@{'/filter/job-site/we_work_remotely'}">We Work Remotely</a> -
                <a th:href="@{'/filter/job-site/flexjobs'}">FlexJobs</a> -
                <a th:href="@{'/filter/job-site/startup_jobs'}">Startup.jobs</a> -
                <a th:href="@{'/filter/job-site/built_in_sea'}">Built in Seattle</a> -
                <a th:href="@{'/filter/job-site/hacker_news'}">Hacker News</a>
            </div>

            <div class="mb-3 col-md-4">
                <form action="#" th:action="@{/}" th:object="${mainFilter}" method="post">
                    <div class="input-group mb-1">
                        <label class="me-2" for="companySearch">Companies</label>
                        <input type="text" name="companySearch" id="companySearch"
                               class="form-control form-control-sm" th:value="*{companySearch}"/>
                    </div>
                    <div class="input-group mb-1">
                        <label class="me-2" for="searchTerms">Search Terms</label>
                        <input type="text" name="searchTerms" id="searchTerms"
                               class="form-control form-control-sm" th:value="*{searchTerms}"/>
                    </div>
                    <div class="input-group mb-3">
                        <label class="me-2" for="titleSearch">Title Search</label>
                        <input type="text" name="titleSearch" id="titleSearch"
                               class="form-control form-control-sm" th:value="*{titleSearch}"/>
                    </div>
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </fieldset>


    <div th:each="job:${jobs}">
        <div class="job" style="margin-bottom: 4rem">
            <div class="job__title mb-1">
                <a class="job-title text-uppercase fw-bold" th:href="${job.url}" th:text="${job.title}"
                   target="_blank"></a>
                <span th:class="${'badge job\_\_status job\_\_status-' + job.status}" th:text="${job.status}"></span>
            </div>

            <div class="job__company">
                <span th:text="${job.company}"/> -

                <div style="display: inline" th:each="status:${job.companyStatuses}">

                <span th:class="${'badge job\_\_company-status job\_\_status-' + status}"
                      th:text="${status}"></span> -

                </div>

                <span th:text="${job.subtitle}"/>
            </div>

            <div class="mb-5">
            <span class="job__actions">
                <span th:if="${job.status != 'new'}" class="btn btn-link" th:data-id="${job.id}"
                      th:data-status="new"> new
                </span>
                <span th:if="${job.status != 'declined'}" class="btn btn-link" th:data-id="${job.id}"
                      th:data-status="declined"> declined
                </span>
                <span th:if="${job.status != 'interested'}" class="btn btn-link" th:data-id="${job.id}"
                      th:data-status="interested">interested
                </span>
                <span th:if="${job.status != 'later'}" class="btn btn-link" th:data-id="${job.id}"
                      th:data-status="later">later
                </span>
                <span th:if="${job.status != 'applied'}" class="btn btn-link" th:data-id="${job.id}"
                      th:data-status="applied"> applied
                </span>
                <span th:if="${job.status != 'interviewing'}" class="btn btn-link" th:data-id="${job.id}"
                      th:data-status="interviewing">interviewing
                </span>
                <span th:if="${job.status != 'rejected'}" class="btn btn-link" th:data-id="${job.id}"
                      th:data-status="rejected"> rejected
                </span>
            </span>
            </div>

            <div class="job__description" th:utext="${job.description}"></div>
            <hr>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>
<script>
    function decreaseJobsFound(jobsFoundText) {
        return (parseInt(jobsFoundText) - 1)
    }

    let links = document.getElementsByClassName("job__link-action")
    for (let i in links) {
        let link = links[i]
        let id = link?.dataset?.id
        let status = link?.dataset?.status

        if (id === undefined || status === undefined)
            continue

        link.addEventListener("click", () => {
            fetch("/status/" + id + "/" + status,
                {
                    method: "POST",
                    headers: {
                        "X-CSRF-Token": "[[${_csrf.token}]]"
                    }
                }
            ).then(response => {
                if (response.status === 200) {
                    link.closest(".job").remove()
                    let jobsFoundDiv = document.getElementsByClassName("jobs-found").item(0)
                    jobsFoundDiv.innerText = decreaseJobsFound(jobsFoundDiv.innerText)
                }
            })
        })
    }
</script>
</html>
